* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  padding: 40px 100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#theme{
  background: none;
  border:none;
}

#get-data-btn {
  padding: 7px 20px;
  width: fit-content;
  font-size: 1.05rem;
  border-radius: 10px;
}

.geolocation-details div {
  font-weight: 400;
  font-size: 1.5rem;
}

.geolocation-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.time-pincode {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#search-box input {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 20px;
  padding-left: 40px;
}

#pincode-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 150px;
}


.time-pincode {
  font-size: 18px;
}

#search-box {
  display: none;
  align-items: center;
  /* justify-content: center; */
}

#search-icon {
  padding-left: 10px;
  position: absolute;
}
 
.body-light{
  background-color: white;
  color: black;
}

.body-dark{
  background-color: black;
  color: white;
}

.get-data-btn-light {
  background-color: black;
  color: white;
}

.get-data-btn-dark {
  padding: 7px 20px;
  width: fit-content;
  background-color: white;
  color: black;
  font-size: 1.05rem;
  border-radius: 10px;
}

.pincode-div{
  padding: 20px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.pincode-details-light > div{
  border: 1px solid black;
}

.pincode-details-dark > div{
  border: 1px solid white;
}

.search-box-light input{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.search-box-dark input {
  width: 100%;
  font-size: 1.1rem;
  padding: 10px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h2{
  font-size: 25px;
}

#light-mode{
  color: white;
  font-size: 35px;
}

#dark-mode {
  font-size: 35px;
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.error{
  font-size: 1.1rem;
  color: red;
}

::placeholder {
  color: var(--c, black);
}

@media screen and (max-width: 1023px) {
  #pincode-details {
    gap: 30px 60px;
  }

  .geolocation-details {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 40px;
  }

  #pincode-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .geolocation-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
